.cont__usplash {
    ul {
        column-count: 4;
        column-gap: 20px;
        width: 100%;
        
        li {
            margin-bottom: 20px;

            img {
                border-radius: 5px;
            }
        }
    }

    .btn__box {
        width: 100%;
        text-align: center;
        padding: 20px;

        button {
            width: 90px;
            /* height: 35px; */
            padding: 8px;
            margin: 10px;
            background-color: var(--black);
            color: var(--white);
            border: 1px solid;
            border-radius: 40px;
            transition: all 0.3s;
            font-family: var(--font-sub2);
            font-weight: bold;

            &:hover {
                background-color:var(--white);
                color: var(--black);
            }
        }
    }

  
}
